@import "/src/app/styles/variables";

.footer {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 100px;

  pointer-events: all;
  transform: scale(1);
  opacity: 1;
  transition: all 0.5s ease-in-out;

  &.noActive {
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
  }

  .content {
    border-radius: 16px;
    background: rgba(59, 15, 82, 0.4);
    /* Blur */
    backdrop-filter: blur(30px);
    padding: 20px;
    box-shadow: inset 0px 0px 0px 2px rgba($color: #fff, $alpha: 0.1);
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 1;
  }
}
