.slots {
  overflow: hidden;

  transition: all 0.5s ease-in-out;
  transform: translateY(-100vh);
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  z-index: 2;

  .container {
    border-radius: 20px;
    background: radial-gradient(
      60.54% 60.37% at 50.05% 50.09%,
      rgba(46, 7, 69, 0.65) 26.87%,
      rgba(21, 0, 32, 0.65) 100%
    );
    /* Blur */
    backdrop-filter: blur(30px);
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.1);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 33%;
      left: 0;
      right: 0;
      bottom: 33%;
      border: 3px solid #ffc83a;
      // background: rgba($color: red, $alpha: 0.2);
      background: linear-gradient(
        180deg,
        rgba(255, 200, 58, 0.15) 0%,
        rgba(255, 200, 58, 0) 100%
      );
      border-radius: 20px;
      z-index: 2;
    }
  }

  &.active {
    transform: translateY(0);
    opacity: 1;

    pointer-events: all;
  }
}

.noborder {
  &::after {
    background: transparent !important;
  }
}

.item {
  height: 200px;
  width: 100%;
  padding: 30px;
  border-radius: 40px !important;
}

.cont {
  width: 300px;
  text-align: center;
  height: 600px !important;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 28px;
    bottom: 28px;
    right: 0;
    width: 3px;
    background: rgba(211, 114, 255, 0.2);
  }
}

.char {
  height: 600px !important;
}

.value {
  height: 161.5px !important;
}

.numbers {
  position: relative;

  h3 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.5;
    color: #000;
    text-align: center;
    font-size: 27.579px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.276px;
    text-transform: capitalize;
  }

  .numbers2 {
    position: absolute;
  }
}

.dubleslide {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: 0;
    width: 300px;
    height: 200px;
    transform: translateY(200px) scale(0.8);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=2000");
  }
}

.god {
  h3 {
    transform: translateY(-65px);
  }
}
