.slider-container {
  transform: scale(1);
  opacity: 1;
  transition: all 0.5s ease-in-out;

  pointer-events: all;

  &.noActive {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
  }
}

.swiper {
  width: 100%;
  max-height: calc(16 / 9 * 100vh);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  position: relative;

  transform: scale(0.8) !important;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: rgba($color: #000000, $alpha: 0.7);
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    pointer-events: none;
  }

  &.active {
    transform: scale(1) !important;
    &::after {
      // background: rgba($color: #000000, $alpha: 0);
    }
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.swiper-slide iframe {
  display: block;
  width: 100%;
  // height: 100%;
  height: calc(16 / 9 * 30.7vh);
  object-fit: cover;
  border-radius: 20px;
}

.swiper-slide video {
  display: block;
  width: 100%;
  // height: 100%;
  height: calc(16 / 9 * 30.7vh);
  object-fit: cover;
  border-radius: 20px;
}

.arrow-next,
.arrow-prev {
  z-index: 1;
  position: absolute;
  transition: all 0.2s ease-in-out;

  transform: scale(1);
  opacity: 1;
  transition: all 0.5s ease-in-out;
  pointer-events: all;

  &.noActive {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
  }
}

.arrow-next {
  right: 0;

  transform: translateX(-20vw);

  &:active {
    transform: translateX(-20vw) scale(0.9);
  }
}
.arrow-prev {
  left: 0;
  transform: translateX(20vw);

  &:active {
    transform: translateX(20vw) scale(0.9);
  }
}

.loaderPlayer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
